
/*        written by collin for spectre v0.3         */
/*           last updated on 02-09-2025              */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* ------------------------------------------------- */

* {
  transition: all 0.2s;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: #111;
}

/* ------------------------------------------------- */

.main {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 14px;
  color: #444;
  margin-left: 20px;
  margin-top: 20px;
  font-family: "JetBrains Mono", monospace;
}

.greeting {
  color: #aaa;
  font-family: "JetBrains Mono", monospace;
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 40vh;
  width: 100%;
  transition: all 0.5s;
}

.searchbar {
  width: 300px;
  font-family: "JetBrains Mono", monospace;
  outline: none;
  background-color: #121212;
  border: 1px solid #191919;
  color: #aaa;
  padding: 15px 15px;
  font-size: 13px;
  border-radius: 5px;
  position: absolute;
  z-index: 99;
}

.helplist {
  background-color: #141414;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  margin-top: 10px;
  width: 300px;
  padding: 0px 15px;
  margin-top: 20px;
  padding-top: 30px;
  position: absolute;
  z-index: 1;
  display: none;
}

.helplist p {
  width: 100%;
  color: #aaa;
  font-family: "JetBrains Mono", monospace;
  font-size: 11px;
}

/* ------------------------------------------------- */

.searchbar:focus, .searchbar:hover {
  border: 1px solid #1c1c1c;
  background-color: #151515;
}

.searchbar::placeholder {
  color: #444;
}

.searchbar:focus::placeholder, .searchbar:hover::placeholder {
  color: #555;
}
